{% load static %}
<!DOCTYPE hmtl>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <title>Zelo Support</title>
    <link rel="stylesheet" href="{% static 'css/support.css' %}">
</head>

<body>
    <div class="main" style="text-align:center; vertical-align:middle;">
        <div>
            <h1 style="">Служба поддержки "Zelo"</h1>
            <p style="font-size: 20px;">тел: +7 (777) 378-91-93</p>
            <p style="font-size: 20px;">email: zelo.dostavka@mail.ru</p>
            <p style="font-size: 20px;">insta: @zelo_dostavka</p>
        </div>
    </div>
</body>
</html>
